<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PotaFy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/PotafyDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>IniciarSesionServlet</display-name>
    <servlet-name>IniciarSesionServlet</servlet-name>
    <servlet-class>com.afdm.potafy.controller.IniciarSesionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarSesionServlet</servlet-name>
    <url-pattern>/IniciarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubirCancionServlet</display-name>
    <servlet-name>SubirCancionServlet</servlet-name>
    <servlet-class>com.afdm.potafy.controller.SubirCancionServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>104857600</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubirCancionServlet</servlet-name>
    <url-pattern>/SubirCancion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarCancionesPorTituloServlet</display-name>
    <servlet-name>BuscarCancionesPorTituloServlet</servlet-name>
    <servlet-class>com.afdm.potafy.controller.BuscarCancionesPorTituloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarCancionesPorTituloServlet</servlet-name>
    <url-pattern>/BuscarCancionesPorTitulo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarCancionServlet</display-name>
    <servlet-name>BorrarCancionServlet</servlet-name>
    <servlet-class>com.afdm.potafy.controller.BorrarCancionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarCancionServlet</servlet-name>
    <url-pattern>/BorrarCancion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearPlayListServlet</display-name>
    <servlet-name>CrearPlayListServlet</servlet-name>
    <servlet-class>com.afdm.potafy.controller.CrearPlayListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearPlayListServlet</servlet-name>
    <url-pattern>/CrearPlayList</url-pattern>
  </servlet-mapping>
</web-app>